<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to www" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^301creativastudio.com$" />
          </conditions>
          <action type="Redirect" url="{MapProtocol:{HTTPS}}://www.301creativastudio.com/{R:1}" />
        </rule>
      </rules>
      <rewriteMaps>
        <rewriteMap name="MapProtocol">
          <add key="on" value="https" />
          <add key="off" value="http" />
        </rewriteMap>
      </rewriteMaps>
    </rewrite>
	 <caching>
      <profiles>
        <add extension=".gif" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00" />
        <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00" />
        <add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00" />
        <add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00" />
        <add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00" />
        <add extension=".mp4" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00" />
        <add extension=".webm" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00" />
        <add extension=".pdf" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00" />
        <add extension=".json" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00" />
        <add extension=".ttf" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00" />
		<add extension=".svg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00" />
      </profiles>
    </caching>
    <directoryBrowse enabled="false" />    
    <httpProtocol>
      <customHeaders>
                <clear />
      </customHeaders>
    </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="index.php" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
